*{
    margin: 0;
    padding: 0;
}

.div-card-admin{
    width: 100%;
    height: 15%;
    margin-top: 3%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-card-users{
    width: 100%;
    height: 20%;
    margin-top: 3%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-txt-card{
    width: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    line-height: 1.7rem;
}

.txt-principal{
    color: #c0ef;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

.txt-card-data{
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

.txt-card-data-number{
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: row;
}

.div-txt-card-number p{
    color: #c0ef;
}

.div-btn-card{
    margin-left: 5%;
    margin-right: 5%;
    width: 30%;
    height: 50%;
}

.btn-card{
    background-color: #FF0101;
    font-size: 0.9rem;
    color: white;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn-card:hover{
background-color: #ff6565;
}

.div-txt-card-user{
    width: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

#Nlaboratory{
    color: #c0ef;   
}