@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
a{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 1.02em;
    color: black;    
}



/* Header*/

.Header{    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
     
}

.navbar{
    width: 30%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    cursor: pointer;
}

.section-0{
    width: 100%;
    height: 3em;
}

.section-1{
    width: 100%;
    height: 100%;
}

.section-2{
    width: 100%;
    height: 100%;
}

.section-3{
    width: 8em;
    height: 3em;
    background-color:#C0ef;
    color: white;
    border: none;
    border-radius: 1em;
    font-family: 'Inter', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0.7em   ;
    
}

.section-3:hover{
    cursor: pointer;
    background-color:rgb(234, 95, 255);
    color: white;
}

/*Body*/

.div-Body{
    padding: 2em;
    display: flex;
    align-items: center;
    align-content: center;
}

.title-selvet{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    line-height: 1.2em;
    margin-bottom: 0.7em;
}

.div-information p{
    padding: -1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    line-height: 1em;
}

.div-img{
    display: flex;
    align-items: center;
    align-content: center;
}

.img-medicine{
    margin: 0; 
    height: 25em;
}

.div-button{
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-register{
    background-color: #C0ef;
    color: white;
    border: none;
    width: 9.8em;
    height: 2.2em;
    font-size: 0.9em;
}

.btn-register:hover{
    background-color:rgb(234, 95, 255);
    cursor: pointer;
}

.div-card-container-inf{
    width: 100%;
    height: 100%;
    position: absolute;
}

.div-card-container{
    width: 100%;
    height: 100%;
}

.title-benefits-container{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}


.cards-container-data{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.div-card-benefits{
    width: 30%;
    height: 100%;
    position: relative;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img-card-benefits{
    width: 90%;
    height: 13rem;
    display: flex;
    margin-left: 5%;
    justify-content: center;
}

.txt-card-benefits{
    text-align: center;
    line-height:3rem;
}

.cont-card-benefits{
    text-align: center;
    color: #9b9999;
    font-family: 'Inter', sans-serif;
}


/* Informacion Acerca*/

.div-body-container{
    padding: 3em;
    display: flex;
    align-items: center;
    align-content: center;
}

.div-infEmpresa h4{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    line-height: 1.2em;
    margin-bottom: 0.2em;
}

.div-infEmpresa p{
    padding: -1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1em;
    margin-bottom: 01em;
}

.div-img-empresa{
    display: flex;
    align-items: center;
    align-content: center;
}

.img-secure{
    margin: 0; 
    height: 25em;
}

