@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eeee;
}

.img-logo-white {
    width: 8rem;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

hr {
    width: 100%;
    background-color: #f7f7f771;
    margin-bottom: 2rem;
}

/*Header*/

.div-header-container {
    position: absolute;
    height: 8.6%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.div-container-nav {
    position: absolute;
    width: 83%;
    height: 100%;
    color: white;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.72rem;
}

.div-select-container-lab{
    display: flex;
    align-items: center;
    width: 22%;
}

.txt-select-lab{

    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
}

.select-lab{
    width: 100%;
    height: 2rem;
    font-size: 0.8rem;
    color: white;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin: 5%;
    background-color: #c0ef;
    
}

.select-lab option{
    display: flex;
    background-color: #bd0de8;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    border: none;
}



/*Aside*/

.link-no-underline {
    text-decoration: none; /* Elimina el subrayado */
  }

.div-contanier-aside {
    position: absolute;
    width: 17%;
    height: 100%;
    background-color: #120914;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option {
    display: flex;
    align-items: center;
    align-content: center;
    text-decoration: none;
    width: 10rem;
    margin: 10%;
    margin-left: -1rem;
    padding: 2%;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
}



.option:hover{
    background-color: #432949;
}

.txt-option {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size:1rem;
    outline: none;
}





.icon-menu-pdf {
    width: 13%;
    height: 55%;
    margin-right: 3%;
    margin-left: 10%;
}

.btn-pdf {
    width: 80%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}

.div-btn-pdf:hover {
    background-color: rgb(221, 37, 253);
}

/*Body*/

.div-contenido-container {
    position: absolute;
    width: 83%;
    height: 91.4%;
    top: 8.6%;
    margin-left: 17%;
    background-color: transparent;
}

.contenido-body {
    position: absolute;
    width: 100%;
    height: 100%;
}