@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.EnBase{
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.EnBase h2{
    font-family: Arial, Helvetica, sans-serif;
}

.div-graphics-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.div-container-data-graf {
    width: 100%;
    height: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*opctions*/

.opt-content {
    width: 60%;
    height: 5rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.div-select-sensor {
    width: 45%;
    height: 45%;
    margin-top: 3%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    background-color: #c0ef;
    border-radius: 1rem;
}

.div-select-sensor a {
    color: #ffffff;
}

.select-graphics-sensor {
    background-color: transparent;
    border: rgb(255, 255, 255) 0.1rem solid;
    height: 1.5rem;
    margin-left: 5%;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.select-graphics-sensor option {
    color: black;
}

/*Static*/

.card-cont-static {
    width: 50%;
    height:15rem;
    margin-top: 3%;
    background-color: rgb(255, 255, 255);
    border: #b3b3b3 0.1rem solid;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculo-static-data {
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: column;
}

.div-img-calculo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-calculo {
    width: 5rem;
    height: 5rem;
}

.static{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}


/*Lineal*/

.graphics-container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.static-data {
    width: 100%;
    height: 30rem;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.graphics-line {
    width: 100%;
    height: 45%;
    background-color: white;
    border: #b3b3b3 0.1rem solid;
}

.line {
    width: 95%;
    height: 100%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

/*table*/
.div-table {
    background-color: #ffffff;
    width: 100%;
    height: 90rem;
    overflow-y: scroll; 
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #ccc;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .table th {
    background-color: rgb(215, 26, 248);
  }

  .div-tbody{
    overflow-y: scroll; 
    scroll-behavior: smooth;
  }