@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-graphics-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-select-sensor {
    width: 25%;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    background-color: #340440;
    border-radius: 1rem;
    border: rgb(255, 255, 255) 0.1rem solid;
}

.div-select-sensor a {
    color: #ffffff;
}

.select-graphics-sensor {
    background-color: transparent;
    border: rgb(255, 255, 255) 0.1rem solid;
    height: 1.5rem;
    margin-left: 5%;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    width: 50%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.select-graphics-sensor option {
    color: black;
}

.graphics-container {
    width: 80%;
    height: 80%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.graphics-line {
    width: 50%;
    height: 80%;
    background-color: white;
    border: #b3b3b3 0.1rem solid;
}

.line {
    margin-top: 7.5%;
}

/*Circle*/

.graphics-circle {
    width: 40%;
    height: 70%;
    background-color: white;
    border: #b3b3b3 0.1rem solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.circle {
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
}

.inf-codeColorCircle {
    width: 100%;
    height: 10%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.code-color{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.circle-code-red{
    width: 2rem;
    height: 1rem;
    background-color: #FF0F23;
}

.circle-code-blue{
    width: 2rem;
    height: 1rem;
    background-color: #009DFF;
}

